--------------/* Header */--------------
.body-style{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
 }
.logo-link{
    font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;

}


.accent{
color: #4D5AE5;
}
.menu-list{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration: none;
}
.menu-list:is(:hover,:focus){
  color:  #2E2F42;
}
.list{ 
   list-style: none;
}
.link-mail-post{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.phone-number{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
-------------/* Main1 */-----------
 
 .solutions{
position: absolute;
width: 1440px;
height: 600px;
top: 72px;
background: #2E2F42;
 }
.h1-solutions{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
text-align: center;
background: #2E2F42;
}
.button-style{
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.features-header{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.features-list{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.our-work-header{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team{
    background: #F4F4FD;
}
.team-header{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}

.speciality{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

-------------/* Main2 */-------------

.body{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;
}
.buttons-item1 {
    font-family: inherit;
    color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
}

.filter-btn:is(:hover,:focus){
    color: #404BBF;
    
}
.buttons-item{
    font-family: inherit;
color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
}

.image-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.img-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
---------/* Footer */---------------

.logotype{
    font-family:'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #F4F4FD;
 }
 .accent2{
    font-family: 'Raleway'sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-decoration: none;
color: #4D5AE5;
 }
 .style-footer{
    background: #2E2F42;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}