--------------/* Header */--------------
.body-style{
    font-family: Roboto, sans-serif;
color: var(--navy-blue-color);
background-color: var(--body-background-color);
font-size: 16px;
 }
.logo-link{
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;

}
.accent{
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.menu-list{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration: none;
}
.list{ 
   list-style: none;
}
.link-mail-post{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.phone-number{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
-------------/* Main1 */-----------
 
 .h1-solutions{
font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.button-style{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.features-header{
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.features-list{
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.our-work-header{
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-header{
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;

}
.team-header{
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.speciality{
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

-------------/* Main2 */-------------

.body{
font-family: Roboto, sans-serif;
color: var(--navy-blue-color);
background-color: var(--body-background-color);
font-size: 16px;
}
.buttons-item1 {
color: #FFFFFF;; 
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;}
.filter-btn:hover{
    color: #404BBF;;
}
.filter-btn:focus{
    color: #404BBF;
}
.buttons-item{
color: #4D5AE5;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}

.image-name{
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.img-text{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
---------/* Footer */---------------
.footer-text{
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}